@font-face {
  font-family: aventura; src: url('Aventura-Bold.otf');
}

@font-face {
  font-family: economica; src: url('Economica_Std.ttf');
}

@font-face {
  font-family: xplor; src: url('XPLOR Bold-Regular.otf');
}


body
{
  background:  url("bg.png") center center fixed, url("2coloredbg.png") center center fixed;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100% 100%;
}

.mainDiv
{
  max-height: 80vh;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.textDiv
{
  text-align: center;
}

.title
{
  font-size: 8vw;
  font-family: xplor;
  margin-bottom: 5%;
}

/*.highscoreDiv
{
  background: rgba(0, 0, 0, 0.6);
  background-clip:padding-b
}*/

.highscoreText
{
  color: white;
  text-transform: capitalize;
  font-family: economica;
  font-size: 2vw;
}



nav{
  width: 25%;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover
{
  transform: rotate(-4deg);
}

button img {
  max-width: 100%;
  max-height: 100%;
}

.backButton
{
  margin-top: 10%;
  margin-bottom: 0%;
  width: 100%;
}
