@font-face {
  font-family: economica; src: url('Economica_Std.ttf');
}
#coins {
  font-family: economica;
  margin-top: 1vh;
  margin-left: 5vw;
  font-size: 2vw;
  position: absolute;
  z-index: 3;
}
body
{
  background:  url("bg.png") center center fixed, url("2coloredbg.png") center center fixed;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100% 100%;
}

nav{
  width: 25%;
  max-height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

button:hover
{
  transform: rotate(-4deg);
}

button img {
  max-width: 100%;
  max-height: 100%;
}

.backButton
{
  margin-left: 25%;
  width: 50%;
}
